<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcs.mapper.ClubMapper">

    <select id="findById" parameterType="Long" resultType="com.hcs.domain.Club">
        select *
        from Club
        where id = #{id}
    </select>

    <select id="findByTitle" parameterType="String" resultType="com.hcs.domain.Club">
        select *
        from Club
        where title = #{title}
    </select>

    <insert id="insertClub" useGeneratedKeys="true" keyProperty="id" parameterType="com.hcs.domain.Club">
        insert into Club (title, description, createdAt, location, category)
        values (#{title}, #{description}, #{createdAt}, #{location}, #{category})
    </insert>

    <delete id="deleteClubById" parameterType="Long">
        delete
        from Club
        where HCS.Club.id = #{id}
    </delete>

    <insert id="joinMemberById" parameterType="map">
        insert into club_members (clubId, memberId)
        values(#{clubId}, #{memberId})
    </insert>

    <insert id="joinManagerById" parameterType="map">
        insert into club_managers (clubId, managerId)
        values(#{clubId}, #{managerId})
    </insert>

    <select id="findClubWithMembers" parameterType="Long" resultMap="clubWithMemberResult">
        select c.*, u.id as userId , u.nickname as userNickname
        from Club c
        left join Club_members cm on c.id = cm.clubId
        left join User u on cm.memberId = u.id
        where c.id = #{id}
       </select>

    <resultMap id="clubWithMemberResult" type="com.hcs.domain.Club">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="createdAt"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <collection property="members" javaType="java.util.HashSet" ofType="com.hcs.domain.User">
            <id property="id" column="userId"/>
            <result property="nickname" column="userNickname"/>
        </collection>
    </resultMap>

    <select id="findClubWithManagers" parameterType="Long" resultMap="clubWithManagersResult">
        select c.*, u.id as userId , u.nickname as userNickname
        from Club c
        left join Club_managers cm on c.id = cm.clubId
        left join User u on cm.managerId = u.id
        where c.id = #{id}
       </select>

    <resultMap id="clubWithManagersResult" type="com.hcs.domain.Club">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="createdAt"/>
        <result property="location" column="location"/>
        <result property="category" column="category"/>
        <collection property="managers" javaType="java.util.HashSet" ofType="com.hcs.domain.User">
            <id property="id" column="userId"/>
            <result property="nickname" column="userNickname"/>
        </collection>
    </resultMap>

    <select id="findClubWithPaging" resultType="com.hcs.domain.Club">
        select *
        from Club
    </select>

    <delete id="deleteClub" parameterType="Long">
        delete
        from Club c
        where c.id = #{id}
    </delete>

    <select id="findAllClubs" resultType="com.hcs.domain.Club">
        select *
        from Club
    </select>

</mapper>
