<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcs.mapper.ClubMapper">

    <select id="findById" parameterType="Long" resultType="com.hcs.domain.Club">
        select *
        from Club
        where id = #{id}
    </select>

    <select id="findByTitle" parameterType="String" resultType="com.hcs.domain.Club">
        select *
        from Club
        where title = #{title}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.hcs.domain.Club">
        insert into Club (title, description, createdAt, location, category)
        values (#{title}, #{description}, #{createdAt}, #{location}, #{category})
    </insert>

    <delete id="delete" parameterType="Long">
        delete
        from Club
        where HCS.Club.id = #{id}
    </delete>

</mapper>
