<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcs.mapper.CommentMapper">

    <select id="findById" parameterType="long" resultType="com.hcs.domain.Comment">
        select *
        from Comment
        where id = #{id}
    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id" parameterType="com.hcs.domain.Comment">
        insert into Comment (authorId, contents, tradePostId, registerationTime)
        values (#{author.id}, #{contents}, #{tradePost.id}, #{registerationTime})
    </insert>

    <delete id="deleteComment" parameterType="long">
        delete
        from Comment
        where id = #{id}
    </delete>

</mapper>
