<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.hcs.domain.User"/>
        <typeAlias alias="UserForJPA" type="com.hcs.domain.UserForJPA"/>
        <typeAlias alias="TradePost" type="com.hcs.domain.TradePost"/>
    </typeAliases>
</configuration>
