<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcs.mapper.UserMapper">

    <select id="findByEmail" parameterType="String" resultType="com.hcs.domain.User">
        select *
        from User
        where email = #{email}
    </select>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        select IF(COUNT(*) = 1, 1, 0)
        from User
        where email = #{email}

    </select>

    <select id="existsByNickname" parameterType="String" resultType="boolean">
        select IF(COUNT(*) = 1, 1, 0)
        from User
        where nickname = #{nickname}

    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.hcs.domain.User">
        insert into User (email, nickname, password, emailVerified, emailCheckToken, emailCheckTokenGeneratedAt,
                          joinedAt, age, position, location)
        values (#{email}, #{nickname}, #{password}, #{emailVerified}, #{emailCheckToken}, #{emailCheckTokenGeneratedAt},
                #{joinedAt}, #{age}, #{position}, #{location})
    </insert>

    <delete id="delete" parameterType="String">
        delete
        from User
        where HCS.User.email = #{email}
    </delete>

</mapper>
