spring:
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: "jdbc:mysql://localhost:3306/HCS?serverTimezone=UTC&characterEncoding=UTF-8"
      #      jdbc-url: "jdbc:mysql://49.50.175.87:3306/HCS?serverTimezone=UTC&characterEncoding=UTF-8"
      username: ENC(/vfTGzkQsvDmJGsLHCRGk8WaCVxqrAkS)
      password: ENC(/7M0dZ5y6e2xyeC2YPa3Jj7kqrJCYaCn)
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.auto: none
    open-in-view: false
    #    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    main:
      allow-bean-definition-overriding: true

mybatis:
  mapper-locations: classpath:mybatis-mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  config-location: classpath:mybatis-config/config.xml

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}

domain:
  url: "https://localhost:8443/"

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

local:
  server:
    port: 8080
